body, .container {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    font-family: Cambria;
}

.container {
    display: flex;
}

@media only screen and (max-width: 760px) {
    .container {
        flex-direction: column;
    }

    .profile {
        width: 100%;
        padding-top: 20px;
    }

    .profile-info {
        min-width: 210px;
    }

    .professional {
        padding: 0 10px 0 10px;
    }

    .logo {
        max-width: 40px;
    }
}

@media only screen and (min-width: 761px) {
    .container {
        flex-direction: row;
    }

    .profile {
        width: 30%;
        min-width: 300px;
        padding-top: 30px;
    }

    .professional {
        padding-left: 40px;
    }

    .about-me {
        margin: 30px;
    }

    .logo {
        max-width: 100px;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 10px;
}

.profile-picture {
    border-radius: 50%;
    width: 174px;
    height: 174px;
    align-self: center;
}

.profile-info {
    flex-direction: column;
    align-self: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.icon-link {
    height: 34px;
    width: 34px;
}

.contacts {
    display: flex;
    align-self: center;
    justify-content: space-around;
}

.author-name {
    text-align: center;
    margin-bottom: 5px;
}

.icon-text {
    display: block;
    line-height: 45px;
}

.icon-aligned {
    height: 25px;
    width: 25px;
    padding: 10px;
    float: left;
}

.logo {
    padding: 20px;
}

.professional {
    padding-top: 20px;
}

p, h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 24px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

.experience {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.company {
    width: 100px;
}

.icon-company {
    width: 64px;
}

.date-local {
    color: #8c8888;
}

.text-space-bottom {
    padding-bottom: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.visitor-counter {
    display: none;
}